<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item ml-3"><a href="" class="nav-link">NBO Baseball Community</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link">Softball Kenya National League</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link"> Little League Kenya</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link">Baseball5 Championship</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link">Ball Clubs</a></li>

      </ul>
    </div>
  </div>
</nav>
