
<div class="card shadow-effect ">
  <img src="https://images.pexels.com/photos/1308713/pexels-photo-1308713.jpeg?auto=compress&cs=tinysrgb&w=600" alt="post-image" class="card-img-top" />

  <div class="card-body">
    <small class="bg-light text-danger text-center"> Baseball</small>
    <small class="bg-light text-success text-center"> Featured</small>
    <small class="bg-light text-info text-center ml-3"> Views - 9,850</small>

    <h5 class="mt-1"> NAIROBI BASEBALL COMMUNITY </h5>
    <P> There are many variations of passages of Lorem Ipsum available.</P>

    <small class="bg-light text-warning text-center"> Last updated - Oct 3rd, 2024 </small>

  </div>
</div>
